<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!-- Prefix 00550 / 01550: set to match your database (Electricity, dbo.Electricity, [Website Bills], etc.) -->
    <add key="BillingGenericElectricityTable" value="Electricity" />
    <add key="BillingGenericMaintenanceTable" value="Maintenance" />
    <!-- Prefix 01000 / 01060 / 01010 / 01070: physical table names in bahria_billingdb (override if yours differ) -->
    <add key="BillingPhase16ElectricityTable" value="bahriabilling" />
    <add key="BillingPhase78ElectricityTable" value="bahriabilling78" />
    <add key="BillingPhase16MaintenanceTable" value="bahriabillingment" />
    <add key="BillingPhase78MaintenanceTable" value="bahriabillingment78" />
    <!-- Must match column name in those tables. Use [Online PMNT Reference] if your DB spells Reference correctly. -->
    <add key="BillingPaymentReferenceColumn" value="[Online PMNT Refrence]" />
    <!-- Optional: also match KuickPay ref in a second column (e.g. [NewReference]). Leave value empty if unused. -->
    <add key="BillingPaymentReferenceColumn2" value="" />
    <!-- Prefix 01060 (bahriabilling78): extra columns OR-matched in addition to BillingPaymentReferenceColumn (+ Column2). Does not affect 00550 (Electricity). -->
    <add key="BillingPhase78ElectricityPaymentReferenceExtraColumns" value="[NewRefrence],[OldRefrence]" />
    <!-- Prefix 01000 (bahriabilling): same pattern if refs live in NewRefrence/OldRefrence; leave empty if unused. -->
    <add key="BillingPhase16ElectricityPaymentReferenceExtraColumns" value="" />
  </appSettings>
  <system.web>
    <compilation targetFramework="4.7.2" debug="true">
      <assemblies>
        <add assembly="CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <!--<add assembly="log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>-->
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.Controllers, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.DataDefModel, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.6"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" />
  </system.web>
  <connectionStrings>
    <!--<add name="Conn" connectionString="Data Source=65.108.74.182;Initial Catalog=bahria_billingdb;User ID=bahriaen; Password=K@s@a@2@3@2@3; Pooling=false;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="Conn" connectionString="Data Source=MUSAB\SQLEXPRESS;Initial Catalog=bahria_billingdb;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
    <!--<add connectionString="Data Source=WIN-E8CQN07EI24\SQLEXPRESS;Initial Catalog=bahria_billingdb;Integrated Security=True" name="Conn" providerName="System.Data.SqlClient"/>-->
	  <add name="Conn" connectionString="Data Source=138.201.247.223;Initial Catalog=bahria_billingdb;User ID=musab; Password=123; Pooling=false;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.webServer>
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
    </handlers>
    <defaultDocument>
      <files>
        <clear/>
        <add value="Default.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
<!--ProjectGuid: 37FC7B4A-9D51-426C-AC77-1D29DDE231A2-->